

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin-right: 240px;
    margin-left: 240px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 40px;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

h2{
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.nav-bar {
    display:flex;
    gap: 25px;
}

li{
    padding: 10px;
}

.link{
    font-size: x-large;
    text-decoration: none;
    color: #E5E7EB;
}

.hero-container{
   display: flex;
   justify-content: space-between;
   margin-right: 240px;
   margin-left: 240px;
   padding-right: 100px;
   padding-left: 100px;
   background-color: #1F2937;
}

p{
    font-size: 18px;
    color: #E5E7EB;
}