

.header{
    display: flex;
    justify-content: space-between;
    outline: 2px solid red;
    margin-right: 60px;
    margin-left: 60px;
}

h2{
    color: black;
}

.nav-bar {
    display:flex;
    justify-content: space-between;
    gap: 25px;
}

li{
    list-style-type: none;
    padding: 10px;
}