/*Hero section styles*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin-right: 240px;
    margin-left: 240px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 40px;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

h2{
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.nav-bar {
    display:flex;
    gap: 25px;
}

li{
    padding: 10px;
}

.link{
    font-size: x-large;
    text-decoration: none;
    color: #E5E7EB;
}

.hero-container{
   display: flex;
   justify-content: space-between;
   margin-right: 240px;
   margin-left: 240px;
   padding-right: 100px;
   padding-left: 100px;
   background-color: #1F2937;
}

.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

/*Information section styles */

.info-container{
    margin-right:240px;
    margin-left: 240px;
    padding-top: 40px;
}

.img{
    width: 175px;
    height: 175px;
    border-radius: 5%;
    margin: auto;
    border: 5px solid #3882F6;
}

.info-pics{
    display: flex;
    justify-content: center;
    gap: 75px;
}

.info-text-container{
    display: flex;
    justify-content: center;
    gap: 75px;
}

.info-text{
    width: 175px;
    height: 65px;
    text-align: center;
    padding-top: 15px;
    margin:auto;
    color: #56616a;
    
}

/*Quote Section*/

.quote{
    background-color: #E5E7EB;
    margin-right:240px;
    margin-left: 240px;
    padding: 40px;
    margin-bottom: 30px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    align-items: center;
    
}

/*call to action*/

.action-container{
    display: flex;
    justify-content: space-around;
    margin-right:240px;
    margin-left: 240px;
    padding-top: 40px;
    background-color: #3882F6
    
}

.action{
    font-size: 24px;
    color: white;
}

.fine-print{
    font-size: 15px;
    color: white;
}

/*footer*/

footer{
    background-color: #1F2937;
    margin-top: 30px;
    margin-right:240px;
    margin-left: 240px;
    padding: 40px;

}



.footer-text{
    text-align: center;
    color: #E5E7EB
    
}